<footer>
    <div class = "branding-container">
        <img class ="techswitch-logo" src= "/assets/Techswitch logo.png"/>
        <img class = "softwire-logo" src="/assets/softwire-logo.png"/>
    </div>
    <script src="/js/app.js"></script>
</footer>