<header>
    <div class = "user-cover-image">
        
        <img src = "<%= coverImageUrl %>">
            <nav>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
            </nav>
    </div>
    
</header>