<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <nav class = "navmenu">
        <button class = "hamburger-container" id="nav-bar-button">
            <i class="fa fa-bars" id="button-icon"></i>
        </button>
        <div class = "nav-links-container close" id = "nav-links-container">
        <div>
            <a href="/home">MyFace</a>
        </div>  
        
        <div class="links-div">
            <a href="/home">Home</a>
            <a href="/posts">Posts</a>
            <a href="/users">Users</a>
            <a href="/posts/create">+ New Post</a>
        </div>
        
        <div class="logo-div">
            <img class="techswitch-logo" src="/assets/Techswitch logo.png"  alt="techswitch logo"/>
            <img src="/assets/softwire-logo.png" alt="softwire logo"/>
          
        </div>

        </div>
    </nav>

    
</header>