/* Add your styles here. */

/* #25A38 background
    #151820 darker background
    #DCDCDC default foreground
    #2985FF Primary
    #25A38 
*/
:root{
    --background:#252A38;
    --darker-background:#151820;
    --default-foreground: #DCDCDC;
    --primary:#2985FF;

    --regular-text:400;
    --bold:600;
    --lighter:300;
}
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    color:var(--default-foreground);
}
ol {
    padding-left: 0px;
}
.post{
    background-color: white;
    list-style: none;
}

h3 {
    margin: 5px 5px 5px 10px;
}

h4{
    margin:10px;
}
.post-date {
    margin-left:10px ;
    margin-top:0px;
    font-size: 12px;
    color:gray;
}


.interaction-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
        
}

.like-button, .dislike-button {
    background-color: white;
    border: none;
    width:40px;
    height:30px;
    font-size:20px ;
}

.interaction-form{
    margin-left:10px;
    margin-right:10px;
    font-size:20px;
}

/* user profile */

.user-info-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "left left right right right";
    padding-left:1em;
    padding-right: 2em;
    width: 100vw;
    background-color: var(--background);
    opacity: 0.56;
}

.user-info-container img {
    grid-area: left;
}

.user-info{
    grid-area: right;
}

.profile-image{
    border-width: 0.3em;
    border-style: solid;
    border-color: var(--default-foreground);
    border-radius:50%;
    width:8em; 
    height:8em;
    object-fit:cover;
    padding:0;
 
}


.full-name{
    font-weight: var(--regular-text);
    font-size: 1.5em;
}
.username {
    font-weight: var(--bold);
    font-size: 1em;
    margin-bottom: 0;
}

.email {
    font-weight: var(--lighter);
    font-size: 1em;
    margin: 0;
}
